.mainSection {
  background: url("./../../background.png");
  padding-bottom: 124px;
}

.mainSection h1 {
  font-size: 64px;
  font-weight: 700;
  width: 54%;
  margin: 150px auto 0 16.25%;
}

.mainSection__timeLeft {
  margin: 50px auto 220px 16.25%;
  display: grid;
  grid-template-columns: 102px 102px 102px 102px;
  grid-column-gap: 30px;
}

@media screen and (max-width: 1440px) {
  .mainSection {
    background-size: auto 100%;
  }
}
